<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Depo App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <button>$ 33,7870</button>
        <button>£ 44,6249</button>
        <button>€ 37,6571</button>
  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Ürün Ara" name="searchQuery" aria-label="Search">
        </form>
  
        </div>
    </nav>
  </div>